.header {
  margin: 5rem auto;
  text-align: center;
}
.header-title {
  font-size: 5rem;
  color: #ddd6cb;
  font-family: 'Montserrat', sans-serif;
}
.header-text {
  margin-top: 2.2rem;
  font-size: 1.8rem;
  color: #ddd6cb;
}
.highlight {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  margin: 0 auto;
  padding: 5rem 0;
  text-align: center;
}
.main-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #ddd6cb;
}
.perks {
  margin: 3rem 0;
}
.perks li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.perks li + li {
  margin-top: 3rem;
}
.perks li img {
  width: 12rem;
  height: 12rem;
  object-fit: contain;
}
.perks li .perk-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: #ddd6cb;
}
