.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.modalWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}
.modal {
  width: 50rem;
  margin: 0 auto;
  padding: 0 2.4rem;
  border-radius: 6px;
  overflow: hidden;
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0;
  border-bottom: 1px solid #0a0a0a;
}
.modalHeader .title {
  font-size: 2rem;
  font-weight: bold;
}
.modalHeader .closeBtn {
  cursor: pointer;
}
.modalBody {
  padding: 3rem 0;
}
.modalFooter {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 2.4rem 0;
  border-top: 1px solid #0a0a0a;
}
.modalFooter button,
.modalFooter a {
  width: 100%;
  padding: 1.4rem 2rem;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: bold;
  border: 1px solid #1d1a1b;
  color: #1d1a1b;
  background-color: transparent;
  cursor: pointer;
}
/* .modalFooter :hover {
  border-color: #556b2f;
  background-color: #556b2f;
  /* background-color: #7a3e3e;
} */
.modalFooter :nth-child(2) {
  border: none;
  color: #d2ad75;
  background-color: #1d1a1b;
  transition: 0.2s;
}
.modalFooter :nth-child(2):hover {
  color: #1d1a1b;
  background-color: #d2ad75;
}
