.form {
  background-color: #d2ad75;
  padding: 2.4rem;
  width: 50rem;
}
.form .inputGroup + .inputGroup {
  margin-top: 2rem;
}
.inputGroup label {
  display: block;
  margin-bottom: 0.8rem;
  color: #1d1a1b;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
}
.inputGroup input,
.inputGroup textarea {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #1d1a1b;
  background-color: #fff;
  color: #0a0a0a;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
  margin-top: 3rem;
}
.actions button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #1d1a1b;
  color: #d2ad75;
  cursor: pointer;
}
.actions button:hover {
  background-color: #7a3e3e;
}
.actions button[type='button'] {
  border: 1px solid #1d1a1b;
  background-color: transparent;
  color: #1d1a1b;
}
.actions button[type='button']:hover {
  border-color: #556b2f;
  background-color: #556b2f;
}
