.post {
  border: 2px solid #d2ad75;
  border-radius: 14px 0 14px 0;
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.1);
  background-color: #fefefe;
  animation: animate-in 1s ease-out forwards;
}
.post a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 3rem 2.2rem;
}
.author {
  font-size: 1.3rem;
  font-weight: bold;
  color: #1d1d1d;
  text-transform: uppercase;
}
.text {
  white-space: pre-wrap;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  color: #1d1d1d;
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(1.4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
