* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-size: 10px;
  background-color: #d2ad75;
}

body {
  text-align: center;
  color: #1d1a1b;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
button {
  background: none;
}
button,
dialog {
  border: none;
}

.main-inner {
  width: 1200px;
  margin: 0 auto;
}
