.form {
  width: 100%;
}
.form .inputGroup + .inputGroup {
  margin-top: 2rem;
}
.inputGroup label {
  display: block;
  margin-bottom: 0.8rem;
  color: #0a0a0a;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}
.inputGroup input,
.inputGroup textarea {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #1d1a1b;
  background-color: #fff;
  color: #0a0a0a;
}
