.header {
  margin: 5rem auto;
  color: #ddd6cb;
}
.header .header-title {
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
}
.header .header-text {
  margin-top: 1.4rem;
  font-size: 1.8rem;
}
.highlight {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main {
  padding-bottom: 5rem;
}
.loading {
  padding-top: 10rem;
  font-size: 2rem;
  text-align: center;
  animation: loading 1.2s ease-in-out infinite;
}

@keyframes loading {
  0% {
    color: #e9e9e9;
  }
  50% {
    color: #b89b84;
  }
  100% {
    color: #e9e9e9;
  }
}
