.picker {
  margin-top: 2rem;
}
.picker .controls {
  display: flex;
  align-items: flex-end;
  gap: 1.6rem;
}

.picker .input {
  display: none;
}
.picker .button {
  border: 0;
  padding: 1rem 2rem;
  background: #a4abb9;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1.4rem;
}
.picker .button:hover,
.picker .button:focus {
  background: #b3b9c6;
}

.preview {
  width: 12rem;
  height: 12rem;
  border: 2px solid #a4abb9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a4abb9;
  position: relative;
}
.preview.has-validation {
  border-color: red;
}
.preview p {
  padding: 1rem;
  font-size: 1.3rem;
}
.preview img {
  object-fit: cover;
}
