.meal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 0.4rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  /* transition: all 0.3s ease-in-out; */
  /* color: #ddd6cb; */
  background: linear-gradient(90deg, #2c1e19, #25200f);
}

.header-image {
  position: relative;
  height: 20rem;
}
.header-image img {
  object-fit: cover;
}
.header-contents {
  padding: 1.4rem;
}
.header-contents .title {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  color: #ddd6cb;
}
.header-contents .creator {
  margin-top: 0.6rem;
  font-size: 1.2rem;
  color: #cfa69b;
  font-style: italic;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 1.4rem 1.4rem;
}
.summary {
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #ddd6cb;
}
.actions {
  text-align: right;
}
.actions a {
  display: inline-block;
  margin-top: 1.4rem;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
  transition: 0.2s;
}
.actions a:hover,
.actions a:active {
  background: linear-gradient(90deg, #fd4715, #f9b241);
  box-shadow: 0 0 12px rgba(242, 100, 18, 0.8);
}
