.header {
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  padding: 5rem 2rem 0;
}
.header-image {
  position: relative;
  width: 40%;
  height: 28rem;
}
.header-image img {
  object-fit: cover;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-left 1s ease-out forwards;
}
.header-contents {
  padding-top: 2rem;
  width: calc(60% - 4rem);
  color: #ddd6cb;
  animation: fade-slide-in-from-right 1s ease-out forwards;
}
.header-contents .title {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
.header-contents .creator {
  margin-top: 0.6rem;
  font-size: 2rem;
  color: #cfa69b;
  font-style: italic;
}
.header-contents .creator a {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-contents .creator a:hover,
.header-contents .creator a:active {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 18px rgba(248, 190, 42, 0.8);
}
.header-contents .summary {
  margin-top: 3rem;
  font-size: 2.2rem;
  line-height: 3.3rem;
}

.instructions {
  width: 96%;
  margin: 5rem auto;
  padding: 2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  background-color: #6e6464;
  color: #000;
  border-radius: 8px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-bottom 1s ease-out forwards;
}

.loading {
  font-size: 3rem;
  text-align: center;
  color: #ddd6cb;
  font-weight: bold;
  animation: flash 1s ease-in-out infinite alternate;
}

@keyframes fade-slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-slide-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-slide-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
