.header {
  gap: 3rem;
  margin: 3rem auto 5rem;
  width: 50%;
  color: #ddd6cb;
  font-size: 1.6rem;
}
.header h2 {
  font-size: 3rem;
}
.sub-title {
  margin-top: 1rem;
  font-size: 1.8rem;
}
.highlight {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  width: 50%;
  margin: 4rem auto;
  color: white;
}

.form label {
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #b3aea5;
  font-weight: bold;
}
.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 4px;
  border: 1px solid #454952;
  background: #1c2027;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  color: #ddd6cb;
}
.form input:focus,
.form textarea:focus {
  border-color: #f99f2a;
  background-color: #1f252d;
}
.input-group.has-validation input,
.input-group.has-validation textarea {
  border-color: red;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
}
.row p {
  width: 100%;
}
.row .input-group + .input-group {
  margin-top: 0;
}
.row + .input-group,
.input-group + .input-group {
  margin-top: 2rem;
}

.actions {
  text-align: right;
}
.actions button {
  border: 0;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  border: none;
  color: #ffffff;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.actions button:hover,
.actions button:focus {
  background: linear-gradient(90deg, #fd4715, #f9b241);
}
.actions button:disabled,
.actions button:hover:disabled,
.actions button:focus:disabled {
  background: #ccc;
  color: #979797;
  cursor: not-allowed;
}
