@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
}

body {
  background: radial-gradient(#282c34, #282c34);
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
button {
  background: none;
}
button,
dialog {
  border: none;
}
input,
textarea {
  outline: none;
}

.contents-inner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
.not-found,
.error {
  margin-top: 5rem;
  text-align: center;
}
.not-found h1,
.error h1 {
  font-size: 5rem;
  margin: 0px;
  font-weight: 900;
  color: #262626;
  text-transform: uppercase;
  background: linear-gradient(90deg, #f9572a, #ffc905);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
}
.not-found p,
.error p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ddd8d8;
}
.right-area {
  display: flex;
  justify-content: flex-end;
}
.cta {
  display: flex;
  gap: 1.8rem;
  margin-top: 3rem;
}
.cta a {
  display: inline-block;
  position: relative;
  min-width: 14.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(90deg, #f9572a, #ff9b05);
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}
.cta a::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: linear-gradient(-90deg, #f9572a, #ff9b05);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: -1;
}
.cta a:hover::before,
.cta a:active::before {
  opacity: 1;
}
.delete-section {
  padding: 3rem 0 5rem;
  border-top: 1px solid #6e6464;
}
.delete-section form {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
}
.delete-section .input-group {
  position: relative;
}
.delete-section .input-group .validation {
  position: absolute;
  bottom: -2rem;
  left: 0;
}
.delete-section input {
  width: 30rem;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #454952;
  background-color: #1c2027;
  font-size: 1.4rem;
  color: #ddd6cb;
}
.delete-section label {
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #b3aea5;
}
.delete-btn {
  height: 3.8rem;
  line-height: 3rem;
  padding: 0 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.6rem;
  color: #262626;
  background-image: linear-gradient(90deg, #f9572a, #ffc905);
  cursor: pointer;
}
.validation {
  display: inline-block;
  margin-top: 0.4rem;
  font-size: 1.2rem;
  color: red;
}
