@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
}

body {
  background: radial-gradient(#282c34, #282c34);
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
button {
  background: none;
}
button,
dialog {
  border: none;
}
input,
textarea {
  outline: none;
}

.not-found,
.error {
  margin-top: 5rem;
  text-align: center;
}
.not-found h1,
.error h1 {
  font-size: 5rem;
  margin: 0px;
  font-weight: 900;
  color: #262626;
  text-transform: uppercase;
  background: linear-gradient(90deg, #f9572a, #ffc905);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
}
.not-found p,
.error p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ddd8d8;
}
.right-area {
  display: flex;
  justify-content: flex-end;
}
.delete-btn {
  padding: 1.2rem 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 0.6rem;
  color: #262626;
  background: linear-gradient(90deg, #f9572a, #ffc905);
  cursor: pointer;
}
.validation {
  display: inline-block;
  margin-top: 0.4rem;
  font-size: 1.2rem;
  color: red;
}
