.header {
  display: flex;
  gap: 7rem;
  padding: 5rem 0;
}

.slideshow {
  width: 50%;
  height: 44rem;
}
.header-contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(50% - 7rem);
}

.hero .hero-title {
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #ffc905;
}
.hero .hero-text {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #ddd6cb;
}

.main {
  margin-top: 10rem;
  padding-bottom: 12rem;
}
.contents {
  display: flex;
  flex-direction: column;
  color: #ddd6cb;
  text-align: center;
}
.contents:nth-of-type(2) {
  margin-top: 8rem;
}
.contents .title {
  font-size: 5rem;
  font-weight: bold;
}
.contents .text {
  margin-top: 3rem;
  font-size: 2rem;
  line-height: 3rem;
}
